*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  padding: 3rem;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 480px) {
  html{
    font-size: 9px;
  }
}
